<!-- ======= Portfolio Section ======= -->
<div id="portfolio" class="portfolio-area area-padding fix" xmlns:https="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Our Featured Products</h2>
                </div>
            </div>
        </div>
        <div class="row wesome-project-1 fix">
            <!-- Start Portfolio -page -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-home decor">Home Decor'</li>
                    <li data-filter=".filter-home essential">Home Essential</li>
                    <li data-filter=".filter-dining decor">Dining Decor'</li>
                </ul>
            </div>
        </div>

        <div class="row awesome-project-content portfolio-container">

            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-home decor portfolio-item">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="assets/img/portfolio/1.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/1.jpg">
                                    <h4>Lunar Series Clock</h4>
                                    <span>Wall Decor</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->

            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="assets/img/portfolio/2.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/2.jpg">
                                    <h4>Weston Premium BedSheet</h4>
                                    <span>Home Decor</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->

            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-card">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="assets/img/portfolio/3.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/3.jpg">
                                    <h4>Carroni Clock</h4>
                                    <span>Design your Wall</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->

            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="assets/img/portfolio/4.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/4.jpg">
                                    <h4>Vivian PLush Blanket</h4>
                                    <span>Cashmere Knitted With Sherpa Line</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->

            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-app">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="assets/img/portfolio/5.jpg" alt="" /></a>
                        <div class="add-actions text-center text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/5.jpg">
                                    <h4>Holland Solid Cover</h4>
                                    <span>Minimalistic Pillow Cover</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->

            <!-- portfolio-item start -->
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
                <div class="single-awesome-project">
                    <div class="awesome-img">
                        <a href="#"><img src="assets/img/portfolio/6.jpg" alt="" /></a>
                        <div class="add-actions text-center">
                            <div class="project-dec">
                                <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/6.jpg">
                                    <h4>Arlene Weave Knit Throw</h4>
                                    <span>Knitted Throw</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- portfolio-item end -->

        </div>
    </div>
</div><!-- End Portfolio Section -->







<!-- ======= Blog Section ======= -->
<div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Latest News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Left Blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="https://homeandbeyond.com.bd/cdn/shop/articles/5909014_540x.jpg?v=1657792186" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">13 comments</a>
                  </span>
                            <span class="date-type">
                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                  </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Reasons We Love Scented Diffusers
                                    JUL 14, 2022</a>
                            </h4>
                            <p>

                                Reed diffusers are a popular modern choice for freshening and scenting the air in your home and for their potential to act as calming or alertness-improving tools. Here are five facts about reed diffusers.
                            </p>
                        </div>
                        <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
                    </div>
                    <!-- Start single blog -->
                </div>
                <!-- End Left Blog-->
                <!-- Start Left Blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="https://homeandbeyond.com.bd/cdn/shop/articles/Blog_title_540x.jpg?v=1598428798" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">130 comments</a>
                  </span>
                            <span class="date-type">
                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                  </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html"> Mastering the perfect pillow setup
                                    AUG 26, 2020</a>
                            </h4>
                            <p>

                                Pillows and throws are the simplest way to give any sofa that gorgeous, impeccably finished decorator look. However, with nearly endless potential combinations, it can be hard to know where to start. Today we take an attempt in breaking down...
                            </p>
                        </div>
                        <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
                    </div>
                    <!-- Start single blog -->
                </div>
                <!-- End Left Blog-->
                <!-- Start Right Blog-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                            <a href="blog.html">
                                <img src="https://homeandbeyond.com.bd/cdn/shop/articles/maxresdefault_540x.jpg?v=1598629122" alt="">
                            </a>
                        </div>
                        <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">10 comments</a>
                  </span>
                            <span class="date-type">
                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                  </span>
                        </div>
                        <div class="blog-text">
                            <h4>
                                <a href="blog.html">Winter touch in your home decor
                                    AUG 09, 2020</a>
                            </h4>
                            <p>

                                Winter is here and it’s time to think over how to cozy up your home for the cold seasons. Faux fur, crocheted and knit decor are among the most popular ideas to get ready for falls and winters. Today we...
                            </p>
                        </div>
                        <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
                    </div>
                </div>
                <!-- End Right Blog-->
            </div>
        </div>
    </div>
</div><!-- End Blog Section -->

<!-- ======= Suscribe Section ======= -->
<div class="suscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                <div class="suscribe-text text-center">
                    <h3>Welcome to our eBusiness company</h3>
                    <a class="sus-btn" href="#">Get A quote</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Suscribe Section -->

<!-- ======= Contact Section ======= -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start contact icon column -->
                <div class="col-md-4">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="bi bi-phone"></i>
                            <p>
                                Call: +8801973016222<br>
                                <span>Wednesday-Monday (9am-9pm)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="bi bi-envelope"></i>
                            <p>
                                Email: info@homeandbeyondbd.com<br>
                                <span>Web: www.homeandbeyond.com</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="bi bi-geo-alt"></i>
                            <p>
                                Medallion Plus Furniture, <br>
                                <span>20/10 West Panthapath, Dhaka.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Start Google Map -->
                <div class="col-md-6">
                    <!-- Start Map -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.8507088230567!2d90.38083687439166!3d23.752702588689754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8af93bfdf4f%3A0xf28f2f4febeb6f36!2sMedallion%20Plus%20Furniture!5e0!3m2!1sen!2sbd!4v1704956627601!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"></iframe>" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <!-- End Map -->
                </div>
                <!-- End Google Map -->

                <!-- Start  contact -->
                <div class="col-md-6">
                    <div class="form contact-form">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
                <!-- End Left contact -->
            </div>
        </div>
    </div>
</div><!-- End Contact Section -->

<!-- ======= Footer ======= -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2>Home<span> & </span>Beyond</h2>
                            </div>

                            <p>Home and Beyond makes sure that each of its selection goes through a process of quality assurance, ensuring the finest product reach your home.  We provide a huge selection of premium craft,  often immitated but never replicated.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <p>
                                GET CURATED HOME DECOR DELIVERED TO ANYWHERE IN BANGLADESH IN 3 DAYS
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> +123 456 789</p>
                                <p><span>Email:</span> info@homandbeyond.bd</p>
                                <p><span>Working Hours:</span> 9am-5pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="flicker-img">
                                <a href="#"><img src="assets/img/portfolio/1.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/2.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/3.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/4.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/5.jpg" alt=""></a>
                                <a href="#"><img src="assets/img/portfolio/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>Home & Beyond</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">
                        <!--
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                      -->
                        Designed by <a href="https://bootstrapmade.com/">H&B Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>